%div.page_content
  %h2
    About Me
  %p.page_description My name is Luke Pfeiffer and I enjoy the pass time of skateboarding and casual gaming. I am trying to take software engineering to a more expert level. Check out the projects page to see some of my early works!
  %span#contact
    Contact Me:
  %ul.contact_info
    %li
      Email: 'pthelukenator@gmail.com'
    %li.about_link
      = link_to 'Youtube', "https://www.youtube.com/user/TownNotNice", class: 'contacts'
    %li.about_link
      = link_to 'GitHub', "https://github.com/lukepfeiffer", class: 'contacts'
