%div.page_content
  %h2
    About Me
    %ul.page_description My name is Luke Pfeiffer and I enjoy the pass time of skateboarding and casual gaming. I am trying to take software engineering to a more expert level. Check out the projects page to see some of my early works!
  %p
    Contact Me
    %div
      %ul.page_description Email: 'pthelukenator@gmail.com'
      %ul.page_description Instagram: '@lukerpfeiffer'
      %ul.page_description Skate Channel: 'youtube.com/townnotnice'
      -# = link_to 'My GitHub', https://github.com/lukepfeiffer, class: 'link_to url'
