%div.page_content
  %h2
    Projects
    %ul.page_description
      Townnotnice: A website to post videos of my skating.
      %P
    %ul.page_description
      Skatespotmaps: An app to post skate spots on a map.
      %p
