body{
  font-family: arial;
  background-color: #ccc;
}

h1{
  margin: 5px 5px 4px 5px;
}

h2{
  margin: 10px 0 5px 0;
}

a:hover{
  font-weight: bold;
}

#contact{
  font-weight: bold;
}

.main{
  width: 600px;
}

.username{
  float: right;
}

.page_description{
  font-size: 17px;
  width: 500px;
  margin: 4px 0;
}

.project_ul{
  width: 500px
}

li{
  list-style-type: none;
}

.about_link{
  margin: 0 0 5px 0;
}

.layout_link{
  margin: 5px;
  color: #0498c4;
  font-size: 18px;
  text-decoration: none;
}
