body{
	background-color: #ccc
}

.main{
 font-family: arial;
 border: 1px solid black;
 border-radius: 8px;
 width: 470px;
 height: 170px;
 text-align: center;
}

h1{
  font-size: 50px;
	font-weight: normal;
}

h2{
	font-family: arial;
	font-weight: normal;
	font-size: 30px;
	margin: 0;
}

a{
	font-family: arial;
  font-size: 30px;
	padding: 7px;
	text-decoration: none;
	background-color: #ebebeb;
	border: 1px solid gray;
}

ul{
  font-size: 16px;
}

p{
	font-size: 30px;
	margin: 0;

}
