body{
  background: url('/assets/gray_stripe.jpg');
  margin: 0;
}

.main{
  font-family: arial;
  border: 1px solid black;
  width: 567px;
  height: 170px;
  text-align: center;
  color: #ccc;
  background: url('/assets/space.jpg') ;
}

h1{
  font-size: 50px;
  font-weight: normal;
}

h2{
  font-family: arial;
  font-weight: normal;
  font-size: 30px;
  margin: 0;
}

a{
  font-family: arial;
  font-size: 30px;
  padding: 7px;
  text-decoration: none;
  background-color: #b5b5b5;
  border: 1px solid #b6b6bf;
  border-radius: 2px;
  color: #000;
}

ul{
  font-size: 16px;
}

p{
  font-size: 30px;
  margin: 0;
}

foot{
  font-size: 15px;
}

.page_content{
  border: 1px solid #b5b5b5;
  border-radius: 4px;
  width: 568px;
  font-family: arial;
}

.page_description{
  margin: 3px;
  font-size: 17px;
  font-family: arial;
}

.sign_in{
  background-color: #1c4743;
  border: 1px solid #205152;
  color: #fff;
  font-size: 14px;
  padding: 2px;
  border-radius: 3px;
  float: right;
}

.signing_in{
  font-size: 25px;
  text-decoration: underline;
  margin: 0 0 0 3px;
}

.field{
  display: list-item;
  font-size: 20px;
  border-radius: 5px;
  margin: 0 0  0 5px;
}

.submit{
  font-size: 18px;
  border-radius: 3px;
  background-color: #98aaf5;
  border: 1px solid #8c88f7;
  color: #fff;
}
